[submodule "components/esp32deets"]
	path = components/esp32deets
	url = git@github.com:deets/esp32deets.git
[submodule "components/u8g2"]
	path = components/u8g2
	url = https://github.com/olikraus/u8g2.git
[submodule "components/esp-dsp"]
	path = components/esp-dsp
	url = https://github.com/espressif/esp-dsp.git
[submodule "components/font_render/freetype2"]
	path = components/font_render/freetype2
	url = git://git.sv.nongnu.org/freetype/freetype2.git
[submodule "real-world/electronics/coffee-grinder-clock/modules/kicad-lib"]
	path = real-world/electronics/coffee-grinder-clock/modules/kicad-lib
	url = https://github.com/deets/kicad-lib
